<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKwNx5XJjF7FA7UA5GRVZ311_i0j4pBRU</string>
	<key>GCM_SENDER_ID</key>
	<string>11155025828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ganhahalomot.app</string>
	<key>PROJECT_ID</key>
	<string>gan-halomot</string>
	<key>STORAGE_BUCKET</key>
	<string>gan-halomot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11155025828:ios:8e1eb01fa9e54399385b31</string>
</dict>
</plist>